body {
	background: #000;
	margin: 0;
	padding: 0;
}

canvas#game {
	background: #000;	
	height: 570px; /* 3x actual width */
	width: 1125px; /* 3x actual width */
}

canvas#text {
	background: none;	
	min-width: 1125px; /* 3x actual width */
	min-height: 400px;
	height: 100%;
	position:absolute;
	left: 0;
	top: 0;
}

canvas.dontBlurPixelsWhenScaling {
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}
